@import '../../shared/sass/vars';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -$top-buffer;
}

form.minimal {
  width: 480px;
  max-width: 100%;
  padding: 72px 48px;
  background-color: $gray-darker;

  .lock {
    display: block;
    margin-bottom: 30px;
    color: $gray-mid;
    font-size: 120px;
    text-align: center;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
