<div class="wrapper">
  <form
    class="minimal"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
  >
    <fa-icon class="lock" [icon]="icons.lock"></fa-icon>

    <dm-input
      label="Email Address"
      id="email"
      type="email"
      [validators]="emailValidators"
      [form]="form"
    ></dm-input>

    <dm-input
      label="Password"
      id="password"
      type="password"
      [validators]="passwordValidators"
      [form]="form"
    ></dm-input>

    <div class="btn-container">
      <button
        class="btn btn-primary"
        type="submit"
      >Login</button>
    </div>
  </form>
</div>


