@import '../../shared/sass/vars';

:host {
  position: relative;
}

.project-menu-bar {
  display: flex;
  align-items: center;
  background-color: $gray;
}

// TODO: Merge common styles (project-item.component.scss)
.project-info {
  display: flex;
  align-items: center;
  margin: 0 30px 0 20px;

  .project-year {
    margin-right: 10px;
    font-size: 14px;
  }

  .project-name {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.project-nav {
  display: flex;
}

.menu-item, .close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background-color: transparent;
  color: $gray-lighter;
  font-size: 21px;
  @include transition(0.1s, linear, background-color, color);
}

.menu-item {
  &:hover {
    background-color: $primary;
    color: #fff;
  }
  &:focus {
    box-shadow: inset 0 0 0 4px transparentize($primary, 0.5);
  }
  &.current, &.current:hover {
    background-color: $gray-darker;
    color: #fff;
    cursor: default;
  }
  fa-icon {
    background-color: transparent;
  }
}

.close {
  margin-left: auto;

  &:hover {
    background-color: $danger;
    color: $gray-darkest;
  }

  &:focus {
    box-shadow: inset 0 0 0 4px transparentize($danger, 0.5);
  }
}

.project-window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1366px;
  max-width: calc(100vw - 30px);
  height: 768px;
  padding-bottom: 0;
  background-color: $gray-darker;

  &.has-footer {
    padding-bottom: 36px;
  }
  .project-content {
    width: 100%;
    height: 100%;
    z-index: 1;
    @include transition(0.33s, ease-in, width, height);

    &.tablet {
      width: 1000px;
      height: 700px;
    }

    &.mobile {
      width: 400px;
      height: 700px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      position: relative;
    }
  }
}

.project-footer {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 15px;
  @include absolute(null, 0, 0, 0);
  z-index: 1;
  background-color: $gray;

  .icon-row {
    display: flex;
    align-items: center;
    height: 100%;

    &:not(:last-child) {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid $gray-dark;
    }
    .icon {
      color: $gray-lighter;
      font-size: 18px;
      transition: color 0.1s linear;

      &:not(:last-child) {
        margin-right: 10px;
      }
      &.partial {
        opacity: 0.5;
      }
      &:hover {
        &.personal    { color: $purple }
        &.design      { color: $pink }
        &.front-end   { color: $blue-light }
        &.back-end    { color: $orange }
        &.photoshop   { color: #00c8ff }
        &.illustrator { color: #ff7c00 }
        &.wordpress   { color: #24baf1 }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl) - 1), (max-height: 852px) {
  .project-window {
    height: calc(100vh - 84px);
  }
}

@media (max-width: map-get($grid-breakpoints, lg) - 1) {
  .project-nav {
    display: none;
  }
}

@media (max-width: map-get($grid-breakpoints, sm) - 1) {
  .project-window {
    width: 100vw;
    max-width: none;
    height: calc(100vh - 40px);
  }
  .project-info {
    margin: 0 0 0 15px;

    .project-name {
      max-width: calc(100vw - 100px);
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu-item, .close {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}
