<dm-logo></dm-logo>
<span class="header-separator">::</span>
<h1 class="page-title">{{ pageTitle }}</h1>

<div class="btn-container">
  <ng-container *ngIf="pageTitle === 'Projects'">
    <ul class="legend">
      <li class="legend-item"><span class="color primary"></span> Professional</li>
      <li class="legend-item"><span class="color info"></span> Personal</li>
    </ul>
  </ng-container>
  <ng-container *ngIf="authService.isAuthenticated() && pageTitle === 'Projects'">
    <button
      (click)="projectsService.newProject.emit()"
      class="btn btn-primary btn-sm"
      role="button"
      tabindex="2"
    >New Project</button>
    <button
      *ngIf="!projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-warning"
      role="button"
      tabindex="2"
    >Edit</button>
    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.saveChanges.emit()"
      class="btn btn-sm btn-success"
      role="button"
      tabindex="2"
    >Save Changes</button>
    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-danger"
      role="button"
      tabindex="2"
    >Discard</button>

  </ng-container>
</div>
