@import '../sass/vars';

:host {
  display: flex;
  align-items: center;
  height: $header-size;
  padding: 0 $main-container-padding;
  @include fixed(0, 17px, null, $menu-width);
  z-index: 1100;
  background-color: transparentize($gray-darkest, 0.1);

  @media (max-width: map-get($grid-breakpoints, sm) - 1) {
    height: 50px;
    padding: 0 15px;
    right: 0;
  }
}

.page-title, .header-separator {
  font-size: 30px;
  font-weight: 200;

  @media (max-width: map-get($grid-breakpoints, sm) - 1) {
    font-size: 21px;
  }
}

.header-separator {
  display: inline-block;
  margin: 0 12px 0 18px;
  position: relative;
  top: -3px;
  color: $gray-light;
  letter-spacing: .1em;
}

.page-title {
  color: $gray-lighter;
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  .btn {
    margin-bottom: 0;
  }
}
