<dm-logo></dm-logo>
<span class="header-separator">::</span>
<h1 class="page-title">{{ pageTitle }}</h1>

<div class="btn-container">
  <ng-container *ngIf="authService.isAuthenticated() && pageTitle === 'Projects'">
    <button
      routerLink="/projects/new"
      class="btn btn-success btn-sm"
      role="button"
      tabindex="2"
    >New Project</button>
    <!-- Using conditionally rendered buttons to prevent persistent focus -->
    <button
      *ngIf="!projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-warning"
      role="button"
      tabindex="2"
    >Edit</button>
    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-success"
      role="button"
      tabindex="2"
    >Done Editing</button>

  </ng-container>
</div>
