<!--<iframe-->
  <!--*ngIf="scaleFactor !== undefined"-->
  <!--[src]="getUrl()"-->
  <!--[ngStyle]="{ transform: 'scale(' + scaleFactor + ')' }"-->
<!--&gt;</iframe>-->
<div
  class="project-image"
  [ngStyle]="{ backgroundImage: 'url(\'assets/projects/' + project.id + '.' + project.imageFormat + '\')' }"
  role="presentation"
>
  <div class="project-info">
    <span class="project-year">{{ projectsService.editMode.getValue() ? 'Edit' : project.year }}</span>
    <h5 class="project-name">{{ project.name }}</h5>
  </div>
</div>
