<ng-container
  [ngSwitch]="true"
>
  <div
    *ngSwitchCase="editMode"
    dragula="projects"
    [(dragulaModel)]="projects"
    (dragulaModelChange)="onDrag($event)"
    class="row"
  >
    <!-- Edit Mode -->
    <div
      *ngFor="let project of projects"
      class="project-container col-xl-6 col-xxl-4"
    >
      <dm-project-item
        (click)="onEditProject(project)"
        [project]="project"
        role="link"
        aria-label="View Project"
        [tabindex]="viewingSingle ? -1 : 3"
      ></dm-project-item>
    </div>

  </div>
  <div
    *ngSwitchCase="!editMode"
    class="row"
  >
    <!-- Readonly Mode -->
    <div
      *ngFor="let project of projectsObservable | async"
      class="project-container col-xl-6 col-xxl-4"
    >
      <dm-project-item
        (click)="onViewProject(project)"
        [project]="project"
        role="link"
        aria-label="View Project"
        [tabindex]="viewingSingle ? -1 : 3"
      ></dm-project-item>
    </div>

  </div>


</ng-container>
<div
  *ngIf="viewingSingle"
  class="modal"
>
  <div (click)="onDismissModal()" class="modal-backdrop"></div>
  <router-outlet></router-outlet>
</div>
