<div class="row">
  <div
    *ngFor="let project of projects | async"
    class="project-container col-xl-4 col-lg-6"
  >
    <dm-project-item
      (click)="editMode ? onEditProject(project) : onViewProject(project)"
      [project]="project"
      role="link"
      aria-label="View Project"
      [tabindex]="viewingSingle ? -1 : 3"
    ></dm-project-item>
    <div class="drag-handle">
      <fa-icon [icon]="icons.drag"></fa-icon>
    </div>
  </div>
</div>
<div
  *ngIf="viewingSingle"
  class="modal"
>
  <div (click)="onDismissModal()" class="modal-backdrop"></div>
  <router-outlet></router-outlet>
</div>
