<form
  class="minimal"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
>
  <fa-icon class="icon" [icon]="icons.mail"></fa-icon>

  <div class="error-alert" *ngIf="status === 'error'">
    <h6>Something went wrong!</h6>
    <p>Sorry about that. Try checking your internet connection and trying again, or if all else fails, you can email me directly at
      <a href="mailto:dannymcgee@gmail.com">dannymcgee@gmail.com</a></p>
  </div>

  <dm-input
    label="Name"
    id="name"
    type="text"
    [validators]="[validators.required]"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Contact Information"
    id="contactInfo"
    type="text"
    [validators]="[validators.required]"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Message"
    id="message"
    type="textarea"
    [validators]="[validators.required]"
    [form]="form"
  ></dm-input>

  <div class="btn-container">
    <button
      class="btn btn-primary {{ status }}"
      [ngClass]="{ 'btn-sm': deviceDetector.isMobile() }"
      [disabled]="!form.valid"
      type="submit"
    >
      <span>Send</span>
      <dm-loading></dm-loading>
      <fa-icon
        *ngIf="status === 'sent' || status === 'error'"
        [icon]="status === 'sent' ? icons.sent : status === 'error' ? icons.error : null"
      ></fa-icon>
    </button>
  </div>
</form>
