@import '../../core/sass/vars';

:host {
  display: block;
  width: 107px;
  height: 64px;
}

a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  position: absolute;

  .text, .braces {
    transition: fill 0.15s linear;
  }

  .text {
    fill: $gray-lighter;

    a:hover &,
    a:focus &,
    a.active & {
      fill: #fff;
    }
  }

  .braces {
    fill: $gray-mid;

    a:hover &,
    a:focus &,
    a.active & {
      fill: $primary;
    }
  }
}

:host-context(.mobile) {
  width: 80px;
  margin-right: 15px;
}
