.filename {
  @include gotham-narrow(400);
  font-size: 14px;
  color: $gray-lightest;
  user-select: none;
  // TODO: Need a more robust solution
  white-space: nowrap;

  fa-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: $editor-icon-margin;
    font-size: 16px;
    text-align: center;
    color: $gray-lighter;

    &.html {
      color: $red;
    }
    &.php {
      color: $purple;
    }
    &.css, &.less {
      color: $blue-bold;
    }
    &.sass, &.scss {
      color: $pink;
    }
    &.js {
      color: $yellow;
    }
  }
}

.CodeMirror {
  height: 100%;

  // Custom theme
  &.cm-s-dm {
    // Main
    background-color: $gray-darker;
    color: $gray-lightest;

    // UI
    .CodeMirror-cursor {
      border-left-width: 2px;
      border-color: $gray-light;
    }

    .CodeMirror-selected {
      background-color: $gray;
    }

    .CodeMirror-gutters {
      width: 70px;
      background-color: $gray-darker;
      border-color: transparent;
    }

    .CodeMirror-linenumber {
      padding: 0 20px;
      color: darken($gray-light, 10%);
    }

    .CodeMirror-activeline {

      .CodeMirror-activeline-background, .CodeMirror-activeline-gutter {
        background-color: darken($gray-darker, 2.5%);
      }

      .CodeMirror-linenumber {
        color: $gray-lighter;
      }
    }

    .CodeMirror-matchingtag {
      background-color: transparent;

      &.cm-tag:not(.cm-bracket) {
        display: inline-block;
        background-color: $gray;
      }
    }

    .CodeMirror-matchingbracket {
      display: inline-block;
      background-color: $gray;
      color: #fff;
    }

    // Syntax highlighting
    .CodeMirror-line {
      @include operator-mono(400);
      font-size: 14px;
    }
    // Tabs
    .cm-tab::before {
      content: ' ';
      display: inline-block;
      width: 1px;
      height: 100%;
      position: relative;
      left: 2px;
      background-color: lighten($gray-dark, 2%);
    }

    // Basic tokens
    .cm-meta {
      color: $purple;
      font-style: italic;
    }
    .cm-comment {
      color: $blue-bold;
      font-style: italic;
    }
    .cm-keyword, .cm-type, .cm-atom {
      color: $blue-light;
      font-style: italic;
    }
    .cm-operator {
      // Use Fira Code's ligatures for operators
      @include fira-code(400);
      font-size: 16px;
      line-height: 14px;
      position: relative;
      bottom: -1px;
      font-feature-settings: "calt" 1;
      font-variant-ligatures: contextual;
      color: $gray-lighter;
    }
    .cm-string {
      color: $green;
    }
    .cm-number {
      color: $turquoise;
    }
    .cm-property {
      color: $pink;
    }
    // Global vars
    .cm-variable {
      color: $pink;
    }
    // Local vars, args
    .cm-variable-2, .cm-def {
      color: $pink-light;
    }
    // Functions
    .cm-func {
      color: $turquoise;
    }
    // RegEx
    .cm-string-2 {
      color: $gray-light;
    }
    // HTML/XML tags
    .cm-tag {
      color: $red;
      &.cm-bracket {
        color: $gray-lighter;
      }
    }
    // HTML/XML atts
    .cm-attribute {
      color: $yellow;
      font-style: italic;
    }

    // CSS
    // TODO: Fix SASS syntax highlighting
    .cm-m-css {
      animation: error-flash 0.5s infinite linear;
      // DEBUG
      &.cm-atom, &.cm-important, &.cm-variable, &.cm-variable-2, &.cm-variable-3,
      &.cm-qualifier, &.cm-builtin, &.cm-keyword, &.cm-property, &.cm-def,
      &.cm-unit, &.cm-operator, &.cm-attribute, &.cm-tag, &.cm-bracket, &.cm-func,
      &.cm-string, &.cm-number, &.cm-type, &.cm-comment, &.cm-tab {
        animation: none !important;
      }
      // Property value default
      &.cm-atom {
        color: $blue-light;
        font-style: normal;
      }
      // !important and pseudo-selectors
      &.cm-important,
      &.cm-variable-3 {
        color: $orange;
        font-style: italic;
      }
      // Class name selector
      &.cm-qualifier {
        color: $pink;
      }
      // ID selector and Less/SASS keywords
      &.cm-builtin, &.cm-keyword {
        color: $blue-light;
        font-style: italic;
      }
      // Properties
      &.cm-property {
        color: $yellow;
      }
      // @media, @font-face, and Less/SASS functions
      &.cm-def {
        color: $purple;
        font-style: italic;
      }
      // SASS units
      &.cm-unit {
        color: $blue-light;
      }
    }

    // PHP
    .cm-m-clike {
      // Functions
      &.cm-builtin, &.cm-def {
        color: $turquoise;
      }
    }
  }
}

// Scrollbars

// both
.ps__rail-x, .ps__rail-y,
.ps__thumb-x, .ps__thumb-y {
  position: absolute;
  z-index: 100;
}
.ps__thumb-x, .ps__thumb-y,
.CodeMirror-overlayscroll-vertical > div, .CodeMirror-overlayscroll-horizontal > div {
  border-radius: 3px;
  background-color: $gray-lightest;
  opacity: 0.1;
  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.25;
  }

  .tabs-nav:not(:hover) & {
    opacity: 0;
  }
}

// x
.ps__rail-x {
  height: 12px;
  padding: 3px 0;
  margin: 0 3px;
  bottom: 0;

  .tabs-nav & {
    height: 3px;
    padding: 0;
  }
}
.ps__thumb-x {
  height: 6px;

  .tabs-nav & {
    height: 3px;
  }
}

// y
.ps__rail-y, .CodeMirror-overlayscroll-vertical {
  width: 12px;
  right: 0;

  & > div, .ps__thumb-y {
    width: 6px;
  }
}
.ps__rail-y {
  padding: 0 3px;
  margin: 3px 0;

  dm-filetree & {
    padding-right: 4px;
  }
}
.CodeMirror-overlayscroll-vertical {
  padding: 3px;

  & > div {
    right: 3px;
  }
}

.CodeMirror-scrollbar-filler {
  background: transparent;
}
