body {
  background: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "light");
}

::-moz-selection  { background: $primary; color: #fff; }
::selection       { background: $primary; color: #fff; }

a {
  outline: none !important;
  cursor: pointer;
}

p {
  a {
    color: $blue-light;
    border-bottom: 1px solid transparent;
    transition: all 0.07s linear;

    &:hover, &:focus {
      color: $gray-lightest;
      text-decoration: none;
      border-color: $primary;
    }

    &:focus {
      background-color: $gray-dark;
    }
  }
}

.aria-only {
  display: none !important;
}
