body {
  background: map-get($theme-colors, "dark");
  color: map-get($theme-colors, "light");
}

::-moz-selection  { background: $primary }
::selection       { background: $primary }

a {
  outline: none !important;
  cursor: pointer;
}

.aria-only {
  display: none !important;
}
