.btn {
  position: relative;
  z-index: 1;
  border-radius: 0;
  padding: 10px 30px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  outline: none !important;
}

.btn-container > .btn {
  margin-right: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@each $key, $value in $theme-colors {
  .btn-#{$key} {
    background-color: transparent;
    color: $gray-lightest;
    border: 2px solid $gray-lighter;

    &::before {
      content: ' ';
      display: block;
      width: 0;
      @include absolute(0, 50%, 0, 50%);
      z-index: -1;
      background-color: $value;
      @include transition(0.15s, ease-in, width, right, left);
    }

    &:hover, &:focus {
      background-color: transparent;
      border-color: $value;
      color: map-get($contrast-color, $key);
      @if (map-get($contrast-color, $key) != #fff) {
        font-weight: 500;
      }

      &::before {
        width: 100%;
        @include position(null, 0, null, 0);
        @include transition(0.15s, ease-out, width, right, left);
      }
    }

    &:focus {
       box-shadow: 0 0 0 4px transparentize($value, 0.5);
    }
  }
}

