// TODO: Make a filter directive out of this?
ul.legend {
  margin: 0;
  padding: 0;
  list-style: none;

  li.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: $gray-light;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;

    &:last-child {
      margin-bottom: 0;
    }

    .color {
      display: inline-block;
      width: 9px;
      height: 9px;
      // border: 1px solid transparent;
      margin-right: 9px;

      @each $key, $value in $theme-colors {
        &.#{$key} {
          background-color: $value;
        }
      }
    }

    //&.active {
    //  color: $gray-lighter;
    //
    //  .color {
    //    @each $key, $value in $theme-colors {
    //      &.#{$key} {
    //        background-color: $value;
    //      }
    //    }
    //  }
    //}
  }
}
