<nav
  class="menu-section menu-lock-section"
  aria-hidden="true"
>
  <dm-menu-item
    extraClass="menu-lock"
    (activate)="onMenuLock()"
    [icon]="icons.menu"
    tabindex="-1"
  ></dm-menu-item>
</nav>

<hr />

<div
  (mouseenter)="onHover()"
  (mouseleave)="onBlur()"
  class="side-panel"
  role="navigation"
  tabindex="-1"
>
  <nav
    class="menu-section"
    role="menu"
    aria-label="Site Navigation"
  >
    <dm-menu-item
      *ngFor="let item of mainMenuItems"
      [routerLink]="item.routerLink"
      [icon]="item.icon"
      (closeMenu)="onCloseMenu()"
      tabindex="-1"
    >{{ item.name }}</dm-menu-item>
  </nav>

  <hr />

  <nav
    class="menu-section"
    role="menu"
    aria-label="Features"
  >
    <dm-menu-item
      routerLink="/view-source"
      [icon]="icons.code"
      (closeMenu)="onCloseMenu()"
      tabindex="-1"
    >View Source</dm-menu-item>

    <dm-menu-item
      link="//github.com/dannymcgee"
      [icon]="icons.github"
      tabindex="-1"
    >GitHub</dm-menu-item>
  </nav>

  <hr *ngIf="authService.isAuthenticated()" />

  <nav
    class="menu-section"
    *ngIf="authService.isAuthenticated()"
    role="menu"
    aria-label="Admin Menu"
  >
    <dm-menu-item
      extraClass="logout"
      (activate)="onLogout()"
      [icon]="icons.logout"
      tabindex="-1"
    >Log Out</dm-menu-item>
  </nav>

</div>
