@import '../../sass/vars';

:host {
  display: block;
  width: 100%;
  height: calc(100% - #{$editor-tab-height});
  position: relative;
  z-index: 1;
  background-color: $gray-dark;
}

.overflow-guard {
  @include absolute-fill;
  overflow: hidden;
  padding: 10px 0;
}

.sizer::ng-deep {
  display: table;
  min-width: 100%;
  max-width: none;
  position: relative;
  z-index: 10;

  dm-file {
    white-space: nowrap;
  }
}

.deselector {
  @include absolute-fill;
}

.new-file-overlay {
  @include absolute-fill;
  z-index: 20;
  background-color: transparentize($gray-dark, 0.2);
}
