@import '../../sass/vars';

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: $gray-dark;
}

.overflow-guard {
  @include absolute($editor-tab-height, 0, 0, 0);
  overflow: auto;
  padding: 10px 0;
}

.sizer::ng-deep {
  display: table;

  dm-file {
    white-space: nowrap;
  }
}

.heading {
  display: flex;
  align-items: center;
  height: $editor-tab-height;
  padding: 0 15px;
  background-color: $gray;
  color: $gray-lightest;

  h6 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
}
