<nav
  class="menu-section menu-lock-section"
  aria-hidden="true"
>
  <a
    (click)="onLockMenu()"
    (keydown)="onKeyDownMenuLock($event)"
    class="menu-lock"
    tabindex="1"
  >
    <fa-icon [icon]="icons.menu"></fa-icon>
  </a>
</nav>

<hr />

<div
  (mouseenter)="onHover()"
  (mouseleave)="onBlur()"
  class="side-panel"
  role="navigation"
  tabindex="-1"
>
  <nav
    class="menu-section"
    role="menu"
    aria-label="Site Navigation"
  >
    <dm-menu-item routerLink="/experience" [icon]="icons.experience" tabindex="-1">Experience</dm-menu-item>
    <dm-menu-item routerLink="/skills"     [icon]="icons.skills"     tabindex="-1">Skills</dm-menu-item>
    <dm-menu-item routerLink="/projects"   [icon]="icons.projects"   tabindex="-1">Projects</dm-menu-item>
    <dm-menu-item routerLink="/contact"    [icon]="icons.contact"    tabindex="-1">Contact</dm-menu-item>
  </nav>

  <hr />

  <nav
    class="menu-section"
    role="menu"
    aria-label="Features"
  >
    <dm-menu-item routerLink="/view-source"      [icon]="icons.code"   tabindex="-1">View Source</dm-menu-item>
    <dm-menu-item link="//github.com/dannymcgee" [icon]="icons.github" tabindex="-1">GitHub</dm-menu-item>
  </nav>

  <hr *ngIf="authService.isAuthenticated()" />

  <nav
    class="menu-section"
    *ngIf="authService.isAuthenticated()"
    role="menu"
    aria-label="Admin Menu"
  >
    <a
      (click)="onLogout()"
      class="menu-item logout"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.logout"></fa-icon>
      <span>Log Out</span>
    </a>
  </nav>

</div>
