@import '../sass/vars';


:host {
  display: block;
  position: relative;
  z-index: 1000;

  &::before {
    content: ' ';
    display: block;
    width: 0;
    height: 100vh;
    @include fixed(0, null, null, 0);
    z-index: -1;
    background-color: $gray-darkest;
    opacity: 0;
    transition: opacity 0.15s linear;
  }
}

.side-panel {
  display: block;
  width: $menu-width;
  height: 100vh;
  overflow-x: hidden;
  background-color: $gray-darker;
  transition: width 0.15s ease-in;

  :host.expanded &, .desktop :host.hover & {
    width: $menu-expanded-width;
  }

  // persistent side strip
  &::before {
    content: ' ';
    display: block;
    width: $menu-width;
    @include absolute(0, null, 0, null);
    background-color: $gray-darker;
    transition: background-color 0.15s linear;

    :host.expanded &, .desktop :host.hover & {
      background-color: $gray-dark;
    }
  }
}

.menu-section {
  position: relative;
  z-index: 3;
  padding: 15px 0;
}
.menu-lock-section {
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.1s linear;

  :host.expanded & {
    background-color: $gray-darkest;
  }
}

hr {
  position: relative;
  z-index: 1200;
  border-top: 2px solid $gray-darkest;
  margin: 0;
}

:host-context(.tablet), :host-context(.mobile) {
  &.expanded::before {
    width: 100vw;
    opacity: 0.8;
  }
}

:host-context(.mobile) {
  padding-top: $menu-width;
  left: $menu-width;
  transition: left 0.15s ease-in;

  .side-panel {
    box-shadow: 0 0 0 0 $gray-darkest;
    @include transition(0.15s, ease-in, width, box-shadow);
  }
  .menu-lock-section {
    padding: 0;
  }
  ::ng-deep .menu-lock {
    @include fixed(0, 0, null, null);
    background-color: $gray-darker;
  }
  &.peek, &.expanded {
    left: 0;
  }
  &.peek {
    .side-panel {
      box-shadow: 0 0 20px 5px $gray-darkest;
    }
  }
}
