<nav
  class="menu-section menu-lock-section"
  aria-hidden="true"
>
  <a
    (click)="onLockMenu()"
    (keydown)="onKeyDownMenuLock($event)"
    class="menu-lock"
    tabindex="1"
  >
    <fa-icon [icon]="icons.menu"></fa-icon>
  </a>
</nav>

<hr />

<div
  (mouseenter)="onHover()"
  (mouseleave)="onBlur()"
  class="side-panel"
  role="navigation"
>
  <nav
    class="menu-section"
    role="menu"
    aria-label="Site Navigation"
  >
    <!--<a-->
      <!--class="menu-item"-->
      <!--tabindex="1"-->
      <!--role="menuitem"-->
    <!--&gt;-->
      <!--<fa-icon [icon]="icons.about"></fa-icon>-->
      <!--<span>About</span>-->
    <!--</a>-->
    <a
      class="menu-item"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.resume"></fa-icon>
      <span>Resume</span>
    </a>
    <a
      class="menu-item"
      routerLink="/skills"
      routerLinkActive="current"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.skills"></fa-icon>
      <span>Skills</span>
    </a>
    <a
      class="menu-item"
      routerLink="/projects"
      routerLinkActive="current"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.portfolio"></fa-icon>
      <span>Projects</span>
    </a>
    <a
      class="menu-item"
      routerLink="/contact"
      routerLinkActive="current"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.contact"></fa-icon>
      <span>Contact</span>
    </a>
  </nav>

  <hr />

  <nav
    class="menu-section"
    role="menu"
    aria-label="Features"
  >
    <a
      class="menu-item"
      routerLink="/view-source"
      routerLinkActive="current"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.code"></fa-icon>
      <span>View Source</span>
    </a>
    <a
      class="menu-item"
      href="//github.com/dannymcgee"
      target="_blank"
      tabindex="1"
      role="link"
    >
      <fa-icon [icon]="icons.github"></fa-icon>
      <span>GitHub</span>
    </a>
  </nav>

  <hr *ngIf="authService.isAuthenticated()" />

  <nav
    class="menu-section"
    *ngIf="authService.isAuthenticated()"
    role="menu"
    aria-label="Admin Menu"
  >
    <!--<a-->
      <!--*ngIf="!authService.isAuthenticated()"-->
      <!--class="menu-item login"-->
      <!--routerLink="/login"-->
      <!--routerLinkActive="current"-->
      <!--tabindex="1"-->
      <!--role="menuitem"-->
    <!--&gt;-->
      <!--<fa-icon [icon]="icons.login"></fa-icon>-->
      <!--<span>Login</span>-->
    <!--</a>-->
    <a
      *ngIf="authService.isAuthenticated()"
      (click)="onLogout()"
      class="menu-item logout"
      tabindex="1"
      role="menuitem"
    >
      <fa-icon [icon]="icons.logout"></fa-icon>
      <span>Log Out</span>
    </a>
  </nav>

</div>
