@import 'shared/sass/vars';

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  @include fixed(0, 0, 0, 0);
  background-color: $gray-darkest;
}

.scroll {
  max-height: 100vh;
  overflow-y: auto;
  padding: ($top-buffer + 2) $main-container-padding 120px;
}
