@import 'core/sass/vars';

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  @include fixed(0, 0, 0, 0);
  background-color: $gray-darkest;
}

.main {
  max-height: 100vh;
  overflow-y: scroll;
  padding: ($header-size + 2) $main-container-padding $main-container-padding;
  position: relative;
}

:host-context(.tablet), :host-context(.mobile) {
  width: auto;
  height: auto;
  position: relative;

  .row {
    display: block;
    position: relative;

    .navbar {
      z-index: 1000;
    }
    .main {
      max-height: none;
      min-height: 100vh;
      overflow-y: hidden;
    }
  }
}

:host-context(.tablet) {
  .row {
    .navbar {
      @include fixed(0, null, 0, 0);
    }
    .main {
      width: calc(100vw - #{$menu-width});
      margin-left: $menu-width;
    }
  }
}

:host-context(.mobile) {
  .row {
    .navbar {
      @include fixed(0, 0, 0, null);
    }
    .main {
      width: 100vw;
      min-height: 0;
      padding: ($menu-width + 30) 30px 30px;
    }
  }
}
