<dm-header
  *ngIf="deviceDetector.isDesktop() || deviceDetector.isTablet()"
  [@headerInTransition]
></dm-header>
<dm-header *ngIf="deviceDetector.isMobile()"></dm-header>
<div class="row no-gutters">
  <div class="col-auto navbar">
    <dm-navbar
      *ngIf="deviceDetector.isDesktop() || deviceDetector.isTablet()"
      [@navInTransition]
    ></dm-navbar>
    <dm-navbar *ngIf="deviceDetector.isMobile()"></dm-navbar>
  </div>

  <div
    class="col main"
    *ngIf="browser && browser !== 'ms-edge' && browser !== 'ie' && browser !== 'safari'"
    (swipeleft)="gestureHandler.swipeLeft.next()"
    (swiperight)="gestureHandler.swipeRight.next()"
    [@routerTransition]="getState(outlet)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div
    class="col main"
    *ngIf="browser && (browser === 'ms-edge' || browser === 'ie' || browser === 'safari')"
    (swipeleft)="gestureHandler.swipeLeft.next()"
    (swiperight)="gestureHandler.swipeRight.next()"
    [@routerTransitionFallback]="getState(outlet)"
    (@routerTransitionFallback.start)="onRouterTransitionStart($event)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>

