<dm-logo></dm-logo>
<!--<span *ngIf="!deviceDetector.isMobile()" class="header-separator">::</span>-->
<h1 class="page-title" [@headerTitleTransition]="titleAnimState">{{ pageTitle }}</h1>

<div class="btn-container">
  <ng-container *ngIf="authService.isAuthenticated() && pageTitle === 'Projects'">

    <button
      *ngIf="!projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-secondary"
      role="button"
      tabindex="2"
    >Edit</button>

    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.newProject.next()"
      class="btn btn-primary btn-sm"
      role="button"
      tabindex="2"
    >New Project</button>

    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.saveChanges.next()"
      class="btn btn-sm btn-success"
      role="button"
      tabindex="2"
    >Save Changes</button>

    <button
      *ngIf="projectsService.editMode.getValue()"
      (click)="projectsService.toggleEditMode()"
      class="btn btn-sm btn-danger"
      role="button"
      tabindex="2"
    >Discard</button>

  </ng-container>
</div>
