<ng-container [formGroup]="form">
  <label [for]="id">{{ label }}</label>
  <textarea
    class="form-control"
    *ngIf="type === 'textarea'"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [name]="id"
    [id]="id"
    [formControlName]="id"
    spellcheck="false"
    autosize
  ></textarea>
  <input
    class="form-control"
    *ngIf="type !== 'textarea'"
    [type]="type"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [name]="id"
    [id]="id"
    [formControlName]="id"
    spellcheck="false"
  />
  <span class="underline"></span>
</ng-container>
<p
  *ngIf="validationMessage !== null"
  class="help-block invalid-message"
  [ngClass]="{ 'visible': !isValid }"
>
  {{ validationMessage }}
</p>

