@import '../sass/vars';

:host > .row {
  flex-wrap: nowrap !important;
}

.filetree-col {
  flex: 0 0;
  position: relative;

  .filetree-heading {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: $editor-tab-height;
    padding: 0 15px;
    background-color: $gray;
    color: $gray-lightest;

    h6 {
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
    }

    .btn-container {
      flex: 0 0 auto;
      display: flex;
      flex-wrap: nowrap;
      margin-right: -8px;
      margin-left: auto;

      fa-icon {
        display: block;
        width: 24px;
        text-align: center;
        color: $gray-light;
        cursor: pointer;

        &:hover {
          color: $gray-lighter;
        }
      }
    }
  }

  .resizer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4px;
    @include absolute(0, 0, 0, null);
    z-index: 10;
    background-color: transparent;
    color: $gray-mid;
    cursor: col-resize;
    @include transition(0.1s, linear, background-color, color);

    &:hover {
      background-color: transparentize($gray-lightest, 0.95);
      color: $gray-light;
    }
  }
}

.editor-col {
  overflow-x: auto;
}

.tabs-nav {
  display: flex;
  max-width: 100%;
  height: $editor-tab-height;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: $gray-dark;

  &.empty {
    background-color: $gray-darker;
  }
}

.tabs-nav-item {
  display: flex;
  align-items: center;
  flex: 0 0 0;
  padding: 0 16px;
  background-color: $gray-dark;

  &.temp {
    font-style: italic;
  }

  &.active {
    background-color: $gray-darker;

    .filename {
      color: #fff;
    }

    .close.modified::after {
      border-color: $gray-darker;
    }
  }

  .close {
    display: inline-block;
    width: 24px;
    margin: 0 -10px 0 8px;
    position: relative;
    color: $gray-mid;
    text-align: center;

    &:hover {
      color: $gray-lighter;
    }

    &.modified::after {
      content: ' ';
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid $gray-dark;
      border-radius: 7px;
      @include absolute-center;
      z-index: 10;
      background-color: $blue-bold;
    }

    &.modified:hover {
      color: $warning;

      &::after {
        display: none;
      }
    }
  }

  //&::before {
  //  content: ' ';
  //  display: block;
  //  @include absolute-fill;
  //  z-index: -1;
  //  background-color: $gray-dark;
  //}
}

.tabs-content {
  height: calc(100vh - #{$header-size + 2 + $main-container-padding + $editor-tab-height});
  position: relative;
  background-color: $gray-darker;

  .splash {
    @include absolute-center;
    top: calc(50% - 40px);
    text-align: center;

    dm-logo::ng-deep {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 75px;
      margin-bottom: 36px;

      a {
        pointer-events: none;
      }

      .logo {
        position: relative;
        height: auto;

        .braces, .text {
          fill: darken($gray-darkest, 1%);
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: $gray-light;
    }
  }

  .tabs-content-item {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $gray-darker;

    &.active {
      display: block;
    }
  }
}
