<div class="row no-gutters">
  <div class="col-3">
    <dm-filetree
      [files]="files"
    ></dm-filetree>
  </div>
  <div class="col-9">

    <nav class="tabs-nav">
      <a
        *ngFor="let tab of tabs"
        (click)="onSetActive(tab)"
        class="tabs-nav-item"
        [ngClass]="{ 'temp': tab.type === 'temp', 'active': activeTab === tab }"
      >
        <span class="filename">
          <fa-icon
            [icon]="editorService.getIconForType(tab.file.type)"
            [ngClass]="tab.file.type"
          ></fa-icon> {{ tab.file.name }}
        </span>
        <fa-icon
          (click)="onCloseTab(tab)"
          [icon]="icons.close"
          class="close"
        ></fa-icon>
      </a>
    </nav>

    <div class="tabs-content">
      <div class="splash">
        <fa-icon [icon]="icons.code"></fa-icon>
        <p>Open a file on the left to start browsing</p>
      </div>
      <div
        *ngFor="let tab of tabs"
        class="tabs-content-item"
        [ngClass]="{ 'active': activeTab === tab }"
      >
        <dm-loading></dm-loading>
        <td-code-editor
          [language]="tab.file.type"
          automaticLayout
          [editorOptions]="{ theme: 'dm-theme' }"
          [ngModel]="tab.file.contents | async"
        ></td-code-editor>
      </div>
    </div>

  </div>
</div>
