<div class="row no-gutters">
  <div
    class="col filetree-col"
    [ngStyle]="{ 'flex-basis': sidebarWidth + 'px' }"
  >
    <div class="filetree-heading">
      <h6>Explorer</h6>
      <div
        class="btn-container"
        *ngIf="authService.isAuthenticated()"
      >
        <fa-icon
          (click)="onNewFile(true)"
          [icon]="editorService.icons.ui.newFolder"
        ></fa-icon>
        <fa-icon
          (click)="onNewFile()"
          [icon]="editorService.icons.ui.newFile"
        ></fa-icon>
      </div>
    </div>
    <dm-filetree
      [files]="files"
    ></dm-filetree>
    <div (mousedown)="onResizeStart($event)" class="resizer">
      <fa-icon [icon]="icons.resizer"></fa-icon>
    </div>
  </div>
  <div class="col editor-col">

    <nav
      class="tabs-nav"
      [ngClass]="{ 'empty': tabs.length === 0 }"
      [perfectScrollbar]="{ suppressScrollY: true, useBothWheelAxes: true }"
    >
      <a
        class="tabs-nav-item"
        *ngFor="let tab of tabs"
        (click)="onSetActive(tab)"
        [ngClass]="{ 'temp': tab.type === 'temp', 'active': activeTab === tab }"
      >
        <span class="filename">
          <fa-icon
            [class]="tab.file.type"
            [icon]="editorService.getIconForType(tab.file.type)"
          ></fa-icon> {{ tab.file.name }}
        </span>
        <fa-icon
          class="close"
          (click)="onCloseTab(tab)"
          [icon]="icons.close"
          [ngClass]="{ 'modified': tab.file.initialContent !== tab.file.contents }"
        ></fa-icon>
      </a>
    </nav>

    <div class="tabs-content">
      <div class="splash">
        <!--<fa-icon [icon]="icons.splash"></fa-icon>-->
        <dm-logo></dm-logo>
        <p>Open a file on the left to start browsing</p>
      </div>
      <div
        *ngFor="let tab of tabs"
        class="tabs-content-item"
        [ngClass]="{ 'active': activeTab === tab }"
      >
        <dm-loading></dm-loading>
        <ngx-codemirror
          [name]="tab.file.name"
          [ngModel]="tab.file.contents | async"
          (ngModelChange)="onEditorChange($event, tab)"
          [options]="{
            theme: 'dm',
            lineNumbers: true,
            styleActiveLine: true,
            indentWithTabs: true,
            tabSize: 2,
            autoCloseBrackets: true,
            autoCloseTags: true,
            matchTags: { bothTags: true },
            scrollbarStyle: 'overlay',
            readOnly: !authService.isAuthenticated(),
            mode: editorService.getModeForType(tab.file.type)
          }"
        ></ngx-codemirror>
      </div>
    </div>

  </div>
</div>
