@import '../sass/vars';

.tabs-nav {
  display: flex;
  position: relative;
  z-index: 1;
  background-color: $gray-darker;
}

.tabs-nav-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 6px 16px;
  background-color: $gray-dark;

  &.temp {
    font-style: italic;
  }

  &.active {
    background-color: $gray-darker;

    .filename {
      color: #fff;
    }
  }

  .close {
    display: inline-block;
    width: 24px;
    margin: 0 -10px 0 8px;
    position: relative;
    color: $gray-mid;
    text-align: center;

    &:hover {
      color: $gray-lighter;
    }

    &.modified::after {
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      @include absolute-center;
      z-index: 10;
      background-color: $blue-bold;
    }

    &.modified:hover {
      color: $warning;

      &::after {
        display: none;
      }
    }
  }

  &::before {
    content: ' ';
    display: block;
    @include absolute-fill;
    z-index: -1;
    background-color: $gray-dark;
  }
}

.tabs-content {
  height: 700px;
  position: relative;
  background-color: $gray-darker;

  .splash {
    @include absolute-center;
    top: calc(50% - 40px);
    text-align: center;

    fa-icon {
      font-size: 150px;
      color: $gray-darkest;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: $gray-light;
    }
  }

  .tabs-content-item {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $gray-darker;

    &.active {
      display: block;
    }
  }
}
