@import '../sass/vars';

.tabs-nav {
  display: flex;
  height: 40px;
  position: relative;
  z-index: 1;
  background-color: $gray-darker;
}

.tabs-nav-item {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 8px 16px;
  background-color: $gray-dark;

  &.temp {
    font-style: italic;
  }

  &.active {
    background-color: $gray-darker;

    .filename {
      color: #fff;
    }
  }

  .close {
    display: inline-block;
    margin: 0 -4px 0 4px;
    color: $gray-mid;

    &:hover {
      color: $gray-light;
    }
  }

  &::before {
    content: ' ';
    display: block;
    @include absolute-fill;
    z-index: -1;
    background-color: $gray-dark;
  }
}

.tabs-content {
  height: 600px;
  position: relative;
  background-color: $gray-darker;

  .splash {
    @include absolute-center;
    top: calc(50% - 40px);
    text-align: center;

    fa-icon {
      font-size: 150px;
      color: $gray-darkest;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: $gray-light;
    }
  }

  .tabs-content-item {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $gray-darker;

    &.active {
      display: block;
    }

    td-code-editor::ng-deep {
      display: block;
      width: 100%;
      height: 100%;

      .editorContainer {
        height: 100%;
      }
    }
  }
}
