<div class="about-me">
  <div class="heading">
    <span class="intro">Hi, my name is</span>
    <span class="name">Danny McGee.</span>
    <span class="tagline">I love making cool things.</span>
  </div>
  <div class="content">
    <p>I&rsquo;m a front-end engineer with a background in graphic design, and a passion for learning new technologies and pushing the limits of my capabilities. I just moved from Orlando to Atlanta, and I&rsquo;m currently available for contract or hire.</p>
  </div>
  <a href="/assets/resume.pdf" class="btn btn-primary btn-sm" download>Download Resume</a>
</div>
