@import '../../core/sass/vars';

// TODO: Consider redoing this page with CSS Grid

:host {
  display: block;
}

.project-container {
  margin-bottom: $grid-gutter-width;
  overflow: hidden;

  .drag-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    @include absolute(0, -45px, 45px, null);
    background: $gray;
    color: $gray-light;
    font-size: 36px;
    opacity: 0.7;
    @include transition(0.1s, linear, right, opacity);

    :host.edit-mode & {
      right: ($grid-gutter-width / 2);

      &:hover {
        opacity: 1;
        cursor: grab;
      }
    }
  }
}

:host-context(.mobile) {
  .project-container:last-child {
    margin-bottom: 0;
  }
}
