<ng-template #content><ng-content></ng-content></ng-template>

<a
  class="menu-item {{ extraClass }}"
  *ngIf="routerLink !== undefined"
  [routerLink]="routerLink"
  routerLinkActive="current"
  #rla="routerLinkActive"
  (click)="onNavigate()"
  [tabindex]="rla.isActive ? '-1' : '1'"
  role="menuitem"
>
  <fa-icon [icon]="icon"></fa-icon>
  <span><ng-container *ngTemplateOutlet="content"></ng-container></span>
</a>

<a
  class="menu-item {{ extraClass }}"
  *ngIf="link !== undefined"
  [href]="link"
  target="_blank"
  tabindex="1"
  role="menuitem"
>
  <fa-icon [icon]="icon"></fa-icon>
  <span><ng-container *ngTemplateOutlet="content"></ng-container></span>
</a>

<a
  class="menu-item {{ extraClass }}"
  *ngIf="routerLink === undefined && link === undefined"
  (click)="onClick()"
  (keydown.enter)="onActivate()"
  (keydown.space)="onActivate()"
  #anchor
  tabindex="1"
  role="menuitem"
>
  <fa-icon [icon]="icon"></fa-icon>
  <span *ngIf="extraClass !== 'menu-lock'"><ng-container *ngTemplateOutlet="content"></ng-container></span>
</a>
