@-webkit-keyframes autofill {
  to {
    background-color: transparent;
    color: $gray-lightest;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.form-control {
  border-radius: 0;
}


// Experimental

form {
  margin: 72px 0;
}

form.minimal {
  padding: 72px 48px;
  background-color: $gray-darker;

  .form-group {
    display: block;
    position: relative;
    padding-top: 12px;
    margin-bottom: 30px;

    label {
      position: absolute;
      top: 12px;
      color: $gray-lightest;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 50px;
      pointer-events: none;
      @include transition(0.15s, linear, top, color, font-size, line-height);

      .mobile & {
        font-size: 14px;
        line-height: 38px;
      }
    }

    &.focus label, &.filled label {
      top: 2px;
      color: $gray-light;
      font-size: 13px;
      line-height: 13px;

      .mobile & {
        font-size: 12px;
      }
    }

    & + .help-block {
      margin-top: -15px;
      margin-bottom: 30px;

      .mobile & {
        margin-bottom: 24px;
      }
    }

    .mobile & {
      margin-bottom: 24px;
    }
  }

  .help-block {
    font-size: 14px;
    color: $gray-lighter;
  }

  .invalid-message {
    height: 0;
    padding-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    @include transition(0.2s, ease-in, height, padding-top, opacity);

    &.visible {
      height: 33px;
      padding-top: 12px;
      opacity: 1;
    }
  }

  .form-control {
    width: 100%;
    height: auto;
    padding: 12px 0;
    background-color: transparent;
    color: $gray-lightest;
    border: 0;
    border-bottom: 2px solid $gray-lighter;
    font-weight: 300;
    transition: color 0.15s linear;
    outline: none !important;

    .mobile & {
      font-size: 14px;
      padding: 8px 0;
      border-bottom-width: 1px;
    }

    & + .underline {
      content: ' ';
      display: block;
      position: absolute;
      right: 50%;
      left: 50%;
      height: 2px;
      margin-top: -2px;
      background-color: $blue-bold;
      @include transition(0.2s, ease-in, right, left);

      .mobile & {
        height: 1px;
        margin-top: -1px;
      }
    }

    &:focus {
      box-shadow: none;
      color: #fff;
      transition: color 0.15s linear;

      & + .underline {
        right: 0;
        left: 0;
        @include transition(0.2s, ease-out, right, left);
      }
    }
  }

  textarea.form-control {
    display: block;
    height: 50px;
    padding: 12px 0 14px;
    overflow: hidden;
    resize: none;

    .mobile & {
      height: 38px;
      padding: 8px 0;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    input {
      display: block;
      width: 100%;
      height: 100%;
      @include absolute-fill;
      cursor: pointer;
      opacity: 0;
    }

    .ui-checkbox {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      background-color: $gray-darker;
      border: 2px solid $gray-lighter;
      margin-right: 12px;

      // focus ring
      &::before {
        content: ' ';
        display: block;
        box-sizing: initial;
        width: 24px;
        height: 24px;
        z-index: -1;
        border: 0 solid transparent;
        border-radius: 16px;
        @include absolute-center;
        transition: border 0.1s linear;
      }

      // checked state
      &::after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        @include absolute(50%, 50%, 50%, 50%);
        @include transition(0.05s, linear, width, height, top, right, bottom, left);
        background: $primary;
      }
    }

    label {
      position: relative;
      bottom: -1px;
      margin: 0;
      color: $gray-light;
      pointer-events: none;
      transition: color 0.1s linear;
    }

    &.focus {
      // focus ring
      .ui-checkbox::before {
        border: 5px solid transparentize($primary, 0.5);
        transition: border 0.1s linear;
      }
    }

    &:hover {
      label {
        color: $gray-lighter;
      }
    }

    &.checked {

      .ui-checkbox {
        // checked state
        &::after {
          width: 14px;
          height: 14px;
          @include position(3px, 3px, 3px, 3px);
        }
      }

      label {
        color: $gray-lightest;
      }
    }
  }

  .btn-container {

    .checkbox:last-of-type {
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 48px;

      .mobile & {
        margin-top: 30px;
      }
    }
  }
}
