// Colors

$gray-lightest: #DBE6EC;
$gray-lighter: #AEC1CC;
$gray-light: #79858D;
$gray-mid: #4e596c;
$gray: #323f55;
$gray-dark: #2b3649;
$gray-darker: #242d3d;
$gray-darkest: #1c2430;

$turquoise: #0FDEBD;
$green: #16C98D;

$blue-light: #8ABEE5;
$blue-bold: #2c98ec;

$pink-light: #FFB0C0;
$pink: #FF708E;
$red: #FA5E5B;

$yellow: #FFC83F;
$orange: #FF953F;

$purple: #a787f8;



// Bootstrap overwrites

$primary: $blue-bold;
$secondary: $gray-lightest;
$success: $green;
$info: $blue-bold;
$warning: $yellow;
$danger: $red;
$light: $gray-lightest;
$dark: $gray-darker;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$contrast-color: (
  "primary": #fff,
  "secondary": $gray-darkest,
  "success": $gray-darkest,
  "info": #fff,
  "warning": $gray-darkest,
  "danger": #fff,
  "light": $gray-darkest,
  "dark": $light
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);



// Sizes

$header-size: 94px;
$menu-width: 64px;
$menu-expanded-width: 300px;
$logo-offset: 120px;

$main-container-padding: $logo-offset - $menu-width;

$grid-gutter-width: $main-container-padding / 2;

$editor-file-indent: 20px;
$editor-icon-margin: 3px;
$editor-tab-height: 36px;



// Fonts

@mixin gotham($weight) {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

@mixin gotham-narrow($weight) {
  font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

@mixin operator-mono($weight) {
  font-family: 'Operator Mono SSm A', 'Operator Mono SSm B', 'Consolas', 'Courier New', monospace;
  font-weight: $weight;
}

@mixin fira-code($weight) {
  font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
  font-weight: $weight;
}



// Mixins

@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  @if ($top != null) {
    top: $top;
  }
  @if ($right != null) {
    right: $right;
  }
  @if ($bottom != null) {
    bottom: $bottom;
  }
  @if ($left != null) {
    left: $left;
  }
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  @include position($top, $right, $bottom, $left);
}

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
  position: fixed;
  @include position($top, $right, $bottom, $left);
}

@mixin absolute-fill {
  @include absolute(0, 0, 0, 0);
}

@mixin absolute-center {
  @include absolute(50%, null, null, 50%);
  transform: translateX(-50%) translateY(-50%);
}

@mixin transition($delay, $timing, $properties...) {
  $transition-list: ();
  @each $property in $properties {
    $transition-list: append($transition-list, $property $delay $timing, comma);
  }
  transition: $transition-list;
}

@mixin button-focus {
  box-shadow: inset 0 0 0 4px transparentize($primary, 0.5);
}



// Animations

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes error-flash {
  0% {
    color: $red;
  }
  50% {
    color: #fff;
  }
  100% {
    color: $red;
  }
}
