<div class="about-me">
  <div class="heading">
    <span class="intro">Hi, my name is</span>
    <span class="name">Danny McGee.</span>
    <span class="tagline">I love making cool things.</span>
  </div>
  <div class="content">
    <p>I&rsquo;m a front-end engineer with a background in graphic design, and a passion for learning new technologies and pushing the limits of my capabilities. I just moved from Orlando to Atlanta, and I&rsquo;m currently available for contract or hire.</p>
    <p><a routerLink="/contact">Get in touch</a>, or check out my <a routerLink="/experience">experience</a>, <a routerLink="/skills">skills</a>, or <a routerLink="/projects">recent projects</a> to learn more about what I can do for you. You can also <a routerLink="/view-source">explore the source code</a> for this website, which was built in Angular.</p>
  </div>
  <a href="/assets/resume.pdf" class="btn btn-primary btn-sm" download>Download Resume</a>
</div>
