<dm-editor
  projectId="dannymcgee"
></dm-editor>
<div class="test">
  <pre>{{'
body {
    max-width: 800px;
    margin: 72px auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    margin: 1.75em 0 1em;
}

.btn {
    box-sizing: border-box;
    padding: 10px 30px;
    border: 0;
    background-color: #999;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none !important;
    cursor: pointer;
    outline: none !important;
}

.btn-blue {
    background-color: #09f;
}

.btn-green {
    background-color: #0c4;
}

.btn-red {
    background-color: #f44;
}'
    }}</pre>
</div>
