@import '../shared/sass/vars';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{$header-size + $main-container-padding + 2});
}

.about-me {
  flex: 0 0 100%;
  max-width: 800px;
  color: $gray-lighter;
}

.heading {
  margin-bottom: 1.5em;

  span {
    display: block;
  }
  .intro {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0.58333em;
  }
  .name, .tagline {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 200;
  }
  .name {
    color: #fff;
  }
  .tagline {
    // color: $turquoise;
  }
}

.content {
  max-width: 615px;
  color: $gray-lighter;
  line-height: 1.71;
  margin-bottom: 30px;

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

:host-context(.mobile) {
  display: block;

  .heading {
    .intro {
      font-size: 18px;
    }
    .name, .tagline {
      font-size: 36px;
    }
  }
  .content {
    font-size: 14px;
  }

}
