<form
  class="minimal"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
>

  <dm-input
    *ngIf="newProject"
    label="Project ID"
    id="id"
    type="text"
    [validators]="requiredValidator"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Project Name"
    id="name"
    type="text"
    [validators]="requiredValidator"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Year"
    id="year"
    type="text"
    [validators]="yearValidator"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Iframe URL"
    id="url"
    type="text"
    [validators]="urlValidator"
    [form]="form"
  ></dm-input>

  <dm-input
    label="Screenshot file extension"
    id="imageFormat"
    type="text"
    [validators]="requiredValidator"
    [form]="form"
  ></dm-input>

  <dm-checkbox
    label="Requires page refresh on resize"
    id="needsRefresh"
    [form]="form"
    #needsRefresh
  ></dm-checkbox>

  <dm-checkbox
    label="Personal project"
    id="personal"
    [form]="form"
    #personal
  ></dm-checkbox>

  <div class="btn-container">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!form.valid"
    >Save Changes</button>
  </div>

</form>
