<a
  (click)="onOpenFile()"
  class="filename"
  [ngClass]="{ 'last-clicked': lastClicked }"
  tabindex="0"
>
  <ng-container *ngIf="file.type === 'folder'">
    <fa-icon
      (click)="onToggleOpen()"
      [icon]="angleIcon"
      class="folder-toggle"
    ></fa-icon>
  </ng-container>
  <fa-icon [icon]="icon" [ngClass]="file.type"></fa-icon> {{ file.name }}
</a>
<ng-container *ngIf="file.type === 'folder' && isOpen">
  <dm-file
    *ngFor="let _file of file.contents"
    [file]="_file"
    [indent]="indent + 1"
    [ngClass]="'indent-' + (indent + 1)"
  ></dm-file>
</ng-container>
