@import '../../../sass/vars';

:host {
  display: block;

  &.new {
    position: relative;
    z-index: 9999;
  }
}

.filename {
  display: block;
  padding-right: 10px;
  outline: none !important;
  cursor: default;

  &.last-clicked {
    background-color: $gray;
  }

  :host:not(.new) > & {
    cursor: pointer;

    &:hover {
      color: $gray-lightest;
      background-color: $gray;
      text-decoration: none;
    }

    &:focus {
      background-color: transparentize($primary, 0.6);
      color: #fff;

      .folder-toggle, .folder {
        color: $gray-lightest;
      }
    }
  }

  @for $i from 1 through 20 {
    ::ng-deep.indent-#{$i} & {
      padding-left: $editor-file-indent * $i + 15;
    }
  }
}

.folder-toggle {
  margin-left: -$editor-file-indent;
  color: $gray-light;
  cursor: pointer;

  :host.new & {
    pointer-events: none;
  }
}

.new-file-name-input {
  width: calc(100% - 22px);
  border: 1px solid transparent;
  margin-left: 2px;
  position: relative;
  z-index: 10;
  background-color: $gray-darker;
  color: $gray-lightest;
  outline: none !important;

  &:focus {
    border-color: $primary;
  }
}
