<a
  class="filename"
  (click)="newFile ? null : onFileTreeClick()"
  [ngClass]="{ 'last-clicked': lastClicked }"
  tabindex="0"
>
  <fa-icon
    class="folder-toggle"
    *ngIf="file.type === 'folder' && !newFile"
    [icon]="angleIcon"
  ></fa-icon>
  <fa-icon [icon]="file.icon" [class]="file.type === 'folder' ? file.name : ''" [ngClass]="file.type"></fa-icon>
  <input
    class="new-file-name-input"
    (keydown)="onKeyDownNameInput($event)"
    *ngIf="newFile"
    type="text"
    #newFileNameInput
  />
  {{ newFile ? null : file.name }}
</a>
<ng-container *ngIf="file.type === 'folder' && isOpen">
  <dm-file
    *ngFor="let _file of file.contents"
    [file]="_file"
    [indent]="indent + 1"
    [ngClass]="'indent-' + (indent + 1)"
  ></dm-file>
</ng-container>
